@font-face {
  font-family: "D-DIN";
  src: url("../../Fonts/D-DIN/D-DIN-Bold.woff2") format("woff2"),
    url("../../Fonts/D-DIN/D-DIN-Bold.woff") format("woff"),
    url("../../Fonts/D-DIN/D-DIN-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.spacex-button {
  display: inline-block;
  position: relative;
  padding: 12px 35px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "D-DIN", "Arial", sans-serif;
  font-size: 15px;
  border: 2px solid #fff;
  background: transparent;
  overflow: hidden; /* Ensure the pseudo-element is contained within the button */
  cursor: pointer;
}

.spacex-button:hover {
  color: #000; /* Change text color on hover */
  background-color: #fff;
  transition: color 0.4s, background-color 0.4s;
  transform: scale(1.1);
}

