/* Nav.css */
@font-face {
  font-family: 'D-DIN';
  src: url('../../Fonts/D-DIN/D-DIN-Bold.woff2') format('woff2'),
       url('../../Fonts/D-DIN/D-DIN-Bold.woff') format('woff'),
       url('../../Fonts/D-DIN/D-DIN-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Ensure the navbar is positioned above the video */
.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 40px;
    box-sizing: border-box;
    z-index: 10; /* Ensure it appears above the video */
}

/* Style for the logo */
.navbar-logo img {
    height: 40px; /* Adjust size as needed */
}
